@model IEnumerable<TechXpress.Services.DTOs.OrderDTO>
<div class="card p-3">
@if (Model != null && Model.Any())
{
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total Price</th>
                 <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.OrderDate</td>
                    <td>@order.TotalAmount.ToString("C")</td>
                    <td>@order.Status</td>
                    <td>
                        <a asp-area="Admin" asp-controller="Order"  asp-action="Details" asp-route-id="@order.Id" class="btn btn-primary">Details</a>
                        <a asp-area="Admin" asp-controller="Order" asp-action="Delete" asp-route-id="@order.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-center text-muted">No Orders found.</p>
}
</div>
